
	<div class="container-fluid p-0">
		<h1 class="h3 mb-3">Tambah Jurusan</h1>
		<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="<%= admins_admin_authenticated_root_path %>">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Kategori</li>
				<li class="breadcrumb-item"><a href="<%= admins_admin_categories_majors_path %>">Jurusan</a></li>
				<li class="breadcrumb-item active" aria-current="page">Tambah</li>
			</ol>
		</nav>
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Tambah Jurusan</h5>
					</div>
					<div class="card-body">
                        <%= render 'form', major: @major, url: admins_admin_categories_majors_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
